@{
    ViewBag.Title = "Acerca De";
}
<h2>@ViewBag.Title.</h2>

<p>esta pagina es creada con base en lo aprendido en cla clase de desarrollo de aplicacioones web.
    con la finalidad de la creacion de distintos eventos que se pueden realizar, por eleccion se agrego
    el apartado de ciudad para tener un distintos eventos en distintas ciudades.</p>
