@{
    ViewBag.Title = "Contact";
}

<h3>Informacion de contacto</h3>

<div class="card" style="width: 25rem;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.9031754029425!2d-116.9868430677386!3d32.52873286439443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94875c00b2a3d%3A0x281526cf22a3e2cc!2sInstituto%20Tecnol%C3%B3gico%20de%20Tijuana!5e0!3m2!1ses-419!2smx!4v1588978413645!5m2!1ses-419!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="card-body">
        <address>
            <strong>Support:</strong>   <a href="mailto:carlos_vr@hotmail.com">carlos_vr@hotmail.com</a><br />
        </address> 
    </div>
</div>
