@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Producciones Baby</h1>
    <p class="lead">En esta sito podra realizar la creacion de evento para distintas ciudadedes.</p>
</div>

<div class="row">
    <div class="col-md-4 p-3 mb-2 bg-secondary text-white">
        <h2>Creacion de Eventos</h2>
        <p>
            Con esta pagina puedes crear  distintos Eventos con la finalidad de llevar un mayor control de ellos ya que te permite
            saber la hora de realizacion y en que ciudad sera celebrdo cada uno de ellos.
            <img src="~/Content/img/Em2.jpg" />
        </p>
    </div>
    <div class="col-md-4 p-3 mb-2 bg-secondary text-white">
        <h2>No Importa el tema</h2>
        <p>No es una pagina de eventos sociales op artisticos unicamente, ya quer cualquira que sea el tema de tu evento lo puedes crear aqui,
        desde eventos deportivos y conciertos hasta platicas y conferencias.</p>
        <img  src="~/Content/img/Em1.jpg"/>
     </div>
    <div class="col-md-4 p-3 mb-2 bg-secondary text-white">
        <h2>Modificaciones</h2>
        <p>Si algun factor externo o personal afecta el evento que tienes  planeado, siempre tendras la posibilidad de modificarlo a plaser,
        sin necesidad de candelarlo lo cual tambien es permitido.</p>
            <img  src="~/Content/img/Em 3.jpg"/>
    </div>
</div>